body{
    font-family: 'Times New Roman';
    background-color: aquamarine;
    color: black;
    line-height: 1.6;
    text-align:  center;
}
h1{
    font-size: 30px;
    text-decoration: underline;
}
h2{
    font-size: 30px;
 
}
h3{
    font-size: 30px;
}
h4{
    font-size: 18px;
}